.s1{
    margin-left:8px;
  }
  .s2{
    color:red;
    text-decoration:underline;
  }
  
  .i1{
    width:45px;
  }
  
  .i2{
    width:45px;
  }
  
  .s3{
    margin-left:16px;
  }
  
  .s4{
    
    display:block;
    margin-left: 90px;
  }
  
  
  
  .button1{
    padding-left:10px;
    padding-right:10px;
    background-color: lightblue;
    border: none;
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor:pointer;
    font-size: 15px;
    
  }

  .button1:hover{

    opacity: 0.8;
  }

  .button2{
    padding-left:10px;
    padding-right:10px;
    font-weight: bolder;
    border:2px black solid;
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor:pointer;
    font-size: 15px;
    background-color: aliceblue;
    width: 150px;
  }

  .button2:hover{

    opacity: 0.8;
  }



  p{
    margin-top: 9px;
    margin-bottom: 3px;
  }

  .tdee{
    
    margin-bottom: 30px;
    font-weight: bold;
  }

  .select{
    text-align: center;
    margin-left: 120px;
    cursor:pointer;
    display: block;

  }
  .tdee2{
    margin-left: 8px;
    margin-top: 30px;
    display: inline-block;
  }

  .t1{
    background-color:lightgoldenrodyellow;
    border:1px grey solid;
    padding:4px;
    border-radius: 3px;
    color: black;

  }
  .last-1{
    color: red;
    font-weight: bolder;
    text-decoration: underline;

  }
  .button3{

    padding-left:10px;
    padding-right:10px;
    font-weight: bold;
    border:2px black solid;
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor:pointer;
    font-size: 13px;
    background-color:black;
    width: 80px;  
    color:white;     
  }
  
  .c1{
    width: 80px;

  }
  @media (max-width: 600px) {
    body {
      font-size: 16px;}
    }

      td {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
        text-align: center;
        vertical-align: middle;
        
        
      }
      

      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 500px;
        text-align: center;
        border: 1px solid black;
    }
    .t1{
        border:none ;
        background-color: white;
        color: black;
        width: 70px;

       

    } 

    th{
        border: 1px solid black;
        text-align: left;
        padding: 8px;
        text-align: center;

    }
    
    .m1{
        text-align: left;
        vertical-align: middle;
        
    }
    @media (max-width: 600px) {
  table {
    font-size: 10px; /* Decrease font size for better readability on small screens */
    color:black;
  }

  td {
    padding: 5px; /* Decrease cell padding for better fit */
  }
         .t1{
        border:none ;
        background-color: white;
        color: black;
        width: 70px;
}
    
  
